<div class="container">
	<div class="row">
		<center><h1 class="about">Our Mission</h1></center>
	</div>
	<div class="row row-about">
		<div class="col-sm-6">
			<img src="assets/1.jpg" class="img-thumbnail img-thumbnail-about" alt="Image">
		</div>
		<div class="col-sm-6">
			<div class="well well-inside-about text-center">
				Barchef is here to help chefs, bartenders and the occasional culinary enthusiast share recipes amongst themselves. This social platform allows you to follow users and track the latest restaurant and bar trends.  Keep track of your favorite recipes by liking them and share some of your own.  Sign up today!<p>
				<center><%= link_to "SIGN-UP", new_user_registration_path, class: "btn btn-default btn-home" %></center>
			</div>
		</div>
	</div>
</div>