
<div class="jumbotron">
  <div class="container-fluid text-center">
    <h1 class="chef-title">BARCHEF</h1> 
   <!--  <p><a class="btn btn-primary btn-md" href="#" role="button">SIGN UP</a></p>    -->  
    <p><h3><!-- "For People in the Restaurant Industry! --></h3></p>
  </div>
</div>

<div class="row middle-banner">
	<div class="col-sm-4">
		<img src="assets/chefs.jpg" class="img-home" alt="Image"> 
		<!-- <img src="smiley.gif" alt="Smiley face" height="42" width="42"> -->
		<p class="home-img-stuff"><center><button class="btn btn-default btn-home">CHEFS</button></center></p>
	</div>
	<div class="col-sm-4">
	 	<img src="assets/bartender.jpg" class="img-home"  alt="Image"> 
		<p class="home-img-stuff"><center><button class="btn btn-default btn-home">BARTENDERS</button></center></p>
	</div>
	<div class="col-sm-4">
	 	
	 	<img src="assets/food.jpg" class="img-home" alt="Image"> 
		<p class="home-img-stuff"><center><button class="btn btn-default btn-home">SIGN-UP</button></center></p>
	</div>
</div>

<div class="row lower-banner">
	<div class="container text-center">
		<p class="home-blurb text-info">BARCHEF is the number one resource for Chefs and bartenders to share recipes with their peers! Learn about the latest trends in the restaurant/bar industry. Sign-up and create a profile to start improving your recipes TODAY!</p>
	</div>
</div>