
<body class="homepic">
  <div class="container-fluid text-center">
    <h1 class="chef-title">BARCHEF</h1> 
 
  </div>


	<div class="row">
	<div class="col-md-12">
	 	
	 	<div class="homebox">
	 	BARCHEF is the number one resource for Chefs and bartenders to share recipes with their peers! Learn about the latest trends in the restaurant/bar industry. Sign-up and create a profile to start improving your recipes TODAY!
		<p class="home-img-stuff"><center><%= link_to "SIGN-UP", new_user_registration_path, class: "btn btn-default btn-home" %></center></p>
		</div>
		<div class="transbox">
		</div>
	</div>
	</div>


</body>