
<div class="jumbotron">
  <div class="container-fluid text-center">
    <h1>BARCHEF</h1> 
    <p><a class="btn btn-primary btn-md" href="#" role="button">SIGN UP</a></p>     
    <p><h3><!-- "For People in the Restaurant Industry! --></h3></p>
  </div>
</div>

<div class="row middle-banner">
	<div class="col-sm-4">
		<img src="assets/chefs.jpg" class="img-home" alt="Image"> 
		<!-- <img src="smiley.gif" alt="Smiley face" height="42" width="42"> -->
		<p><center>CHEFS</center></p>
	</div>
	<div class="col-sm-4">
	 	<img src="assets/bartender.jpg" class="img-home"  alt="Image"> 
		<p><center>BARTENDERS</center></p>
	</div>
	<div class="col-sm-4">
	 	<img src="assets/food.jpg" class="img-home" alt="Image"> 
		<p><center><button>SIGN UP</button></button></center></p>
	</div>
</div>