<body>
  <div class="container-fluid homepic">
    <div class="row">
      <div class="col-lg-6">
        <div class="barformat">
          <img class="homelogo" src="assets/bcLogoFinal10.svg">
        </div>
      </div>
      <!-- <div class="col-lg-4">
        <div class="barformat">
          <div>
            <img class="chefpic img-thumbnail" src="assets/newchef1.jpg">
          </div>
        </div>
      </div> -->

      <!-- <div class="transbox"></div> -->
      <div class="col-lg-6">
        <div class="barformat">
          <div class="">
            BARCHEF is a social media platform made exclusively for the hospitality industry. Chefs, bartenders &amp kitchen enthusiasts can share recipes amongst themselves. Sign-up today &amp create your own profile to start improving your skills in the
            kitchen or behind the bar!
          </div>
          <div class="">
            <center><%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-default" %></center>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
