
<div class="container">
	<div class="row row-main-user-home">
		<div class="col-sm-3">
			<div class="well well-profile well-outer-sign">
				<%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
				<h3>Welcome Back, Jose!</h3><p>	
				<div class="user-home-profile-info text-center">
				<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail img-main-home-user" alt="Image">
				<ul class="user-home-profile-links">
				<li><%= link_to "Profile", user_path(current_user) %></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Messages</a></li>
				</ul>
				</div>
				<div class="row sponsor-box">
				<center><font size="1" color="grey">SPONSOR ADVERTISEMENT</font></center>
				<img src="assets/jackdaniels_poster.jpg" alt="Image">
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well well-suggested-users well-outer-sign">
				<h2 class="text-center text-suggestions-h1">Suggested Users</h2>
					<div class="row">
		 				<div class="well well-inside well-inside-suggested-users">
		  					<ul class="list-of-suggested-users">
		  						<% @user.each do |one_user| %>
		  						<li><img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
		  						<a href="#"> <span class="user-name"><%= one_user.first_name %> <%= one_user.last_name %></span></a></li>
	  						<% end %>
		  					</ul>
		  				</div>
					</div>
			</div>
		</div>
		<div class="col-sm-3">	
			<div class="well well-profile well-outer-sign">
				<h3 class="text-center">Following</h3>
					<div class="well well-inside well-inside-following">
						<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
						<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
						<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
						<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
						<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
						<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
						<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
						<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
						<img src="assets/jose.png" class="img-thumbnail img-user-thumbnail" alt="Image">
			  		</div>
			  		<h3 class="text-center">Cocktail Recipes</h3>
					<div class="well well-inside well-inside-following">
						<ul class="user-home-profile-links">
						<li><a href="#">Red-Hot Rita</a></li>
						<li><a href="#">Georgia Peach</a></li>
						<li><a href="#">Blue Velvet</a></li>
						<li><a href="#">Rucker Park</a></li>
						<li><a href="#">Opening Day</a></li>
						<li><a href="#">Death of Elvis</a></li>
						</ul>
			  		</div>
			</div>
		</div>
	</div>
</div>