/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	


	.instagram{
		position: relative;
		margin-left: 800px;
		margin-top: -22px;
	}

	.btn-home{
		padding: 5px;
	}
 	.lower-banner{
 		margin-top: 40px;
 	}
    
	.sign-up-form{
		margin-top: 60px;
	}

	.home-img-stuff{
		position: relative;
      	margin-top: -50px;
      	color: white;
	}

    .chef-title {
    	position: relative;
    	right: 370px;
    	top: 120px;
    }

	.footer-text {
    	position: relative;
    	top: 8px;
    	margin-left: -20px;
    }



    .btn-primary {
    	background-color: #8dd3d1;
    	color: black;
    	border-color: black;	
    }

	.img-home{
		margin-top: 20px;
	}
    .menu_bar {
      margin-bottom: 0;
      border-radius: 0;

    }

    .middle-banner {
    	margin: 0 30px;
    	
    	font-size: 15px;
    }
   
	.middle-banner .col-sm-4 {
		text-align: center;
	}
   
    .jumbotron {
    	
    	border-radius: 0;
    	height: 300px;
    	background-image: url("/assets/knife3.jpg");
    	color: white;
  		background-size: cover;
    	
  		text-shadow: 1px 1px grey;

    }
       
       footer {
      background-color: #f2f2f2;
      padding: 10px;
      position: relative;
      margin-top: 70px;
    }

