/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.img-raised {
box-shadow: 4px 4px 3px rgba(50, 50, 50, 50);
}*/
.img-thumbnail-about{
  border: 1px solid grey;
}

.row-about{
  margin-top: 40px;
}

input#user_remember_me{
  width: 12px;
}
input#user_avatar{
  margin-left: 30px;
}

div.field{
  margin-bottom: 25px;
}

input {
  width: 200px;
}

input#recipe_description{
  width: 300px;
}
input#recipe_instructions{
  width: 300px;
  }

.middle-banner-edit{
  margin-top: 10px;
  margin-left: 40px;
}

div.well.well-inside.well-inside-suggested-users {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
}

input#search.form-control{
  padding-right: 30px;
  width: 300px;
}
.row-new-recipe{
  margin-left: 350px;
  margin-top: 40px;
}

.row-edit-recipe{
  margin-left: 350px;
  margin-top: 40px;
}

.well-main-profile{
  background-color: #C3E0E2;
}
.sign-up-form-block{
  margin-right: 90px;
}

.row-profile-main{
  margin-top: 30px;
}
ul.list-of-suggested-users {
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.well-left-profile {
  padding-left: 20px;
}

.btn-follow {
  margin-top: 20px;
  background-color: #C3E0E2;
}

.home-blurb{
  color: black;
  font-size: 15px;
  margin-bottom: 30px;
}
.recipe-ul {
  padding-left: 0px;
}

.img-cocktail-thumbnail {
  height: 250px;
}

.col-profile-main {
  padding: 0px;
}

.well-main-profile-2 {
  background-color: #C3E0E2;
}

.well-main-profile {
  /*height: 700px;*/
  border-radius: 0px;
  border-color: black;
  margin-top: 15px;
  padding-bottom: 0px;
}

.btn-default {
  border-color: black;
}

.form-control {
  border: 1px solid black; 
}

.img-recipe {
  border: 1px solid black;
}
.navbar-top .navbar-brand {
  color: white;
}

.navbar-top .navbar-nav>li>a {
  color: white;
}

.list-of-suggested-users{
  padding-left: 0px;
}

.navbar{
  /*background-color: #038B47;*/
  border: 0px;
}

.list-of-suggested-users li{
  display: inline-table; 
  width: 49%;
}

.sponsor-box{
  margin-top: 40px;
  border: 2px solid #c0c0c0;

}

.user-home-profile-info{
  margin-top: 30px;
}

.user-home-profile-links{
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.img-main-home-user{
    
  display: inline-block;
  vertical-align: middle;

}

.li-links-user-home{
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}

.text-suggestions-h1{
  margin-bottom: 40px;
}
.well-inside {
  border-color: grey;
  padding-left: 0px;
}

.well-inside-about{
  border-color: grey;
}

.well-inside-following{
  padding: 10px;

}
.well-outer-sign{
  border-color: black;
}

ul {
  list-style-type: none;

}
.img-user-thumbnail{
  height: 55px;
  width: auto;
}

.row-main-user-home > div {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 40px;
}

.well-profile {
  height: 700px;
  background-color: #f2f2f2;
  border-radius: 0px;
}

.well-suggested-users{
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0px;
  background-color: #C3E0E2;
  border-radius: 0px;
}

.field{
  margin: 10px 0px;
}



.middle-banner-signup {
	margin: 50px 120px;
 }
	
input.form-control{
 	padding-top: 0px;
 	padding-bottom: 0px;
 	padding-right: 60px;
 	padding-left: 10px;
 	}
	
.form-search{
	margin-top: 9px;
	margin-left: 40px;
	}

.btn-home{
	padding: 5px;
	background-color: white;
	border-color: black;
  margin-top: 5px;
  border-radius: 0px;
	}

.lower-banner{
 	margin-top: 40px;
 	}
    
.sign-up-form{
	margin-top: 0px;
	}

.home-img-stuff{/*position: relative;*/
  margin-top: -5px;    	
	}

.chef-title {
  position: relative;
  font-size: 44px;
  right: 320px;
  top: 120px;
  text-shadow: 4px 4px 3px rgba(50, 50, 50, 50);
    }

.footer-text {
  position: relative;
  top: 8px;
  margin-left: 30px;
    }

.btn-primary {
  background-color: #8dd3d1;
  color: black;
  border-color: black;	
    }

.img-home{
	margin-top: 15px;
  box-shadow: 4px 4px 3px rgba(50, 50, 50, 50);
	  }

.menu_bar {
  margin-bottom: 0;
  border-radius: 0;
    }

.middle-banner {
  margin: 200px 200px;	
  font-size: 15px;
    }   

div.transbox {
		text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    opacity: 0.4;
    background-color: rgba(0,0,0,0.9);
    position: relative;
    z-index: 1;
    
	} 
.homebox{
  position: relative;
  z-index: 2;
}


.homepic {
  border-radius: 0;
  height: 750px;
  background-image: url("/assets/newchef1.jpg");
  color: white;
  background-size: cover;
    }  




